*
!src/
!pom.xml
!config.properties
!models.json
!README.md
!.gitignore
!fuzz4all/config/base.yaml
!src/**
!.github/
!.github/workflows/
!.github/workflows/*.yml
!src/main/java/edu/tju/ista/llm4test/utils/JavaBaseClassCollector.java
!ValidTestCases/
!ValidTestCases/**
